<html lang="ja">
  <head>
    <title>AIcon</title>
    <!-- css file -->
    <!-- <link rel="stylesheet" href="aicon.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/aicon.css')}}" type="text/css"> -->
    <link rel="stylesheet" href="../static/css/aicon.css" type="text/css">

    <!-- MAterialize -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
  </head>

  <body>

    <div id="overall">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper  light-blue darken-1">
            <b href="#!" class="brand-logo center">
              AIcon
            </b>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">
                menu
              </i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="help.html">help</a></li>
              <li><a href="review.html">review</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="help.html">help</a></li>
        <li><a href="review.html">review</a></li>
      </ul>

      <div id="wrapper">
        <!-- 左固定 -->
        <div id="fixed-area">
          <div class="container">
            <div class="col s1"></div>
            <div class="carousel col s10" id="DeepDaze_example">
              <p class="carousel-item center"><img src="https://lorempixel.com/250/250/nature/1" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/2" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/3" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/4" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/5" alt="Can't load image."></p>
            </div>
            <div class="carousel col s10" id="BigSleep_example" hidden>
              <p class="carousel-item center"><img src="https://lorempixel.com/250/250/cats/1" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/cats/2" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/cats/3" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/cats/4" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/cats/5" alt="Can't load image."></p>
            </div>
            <div class="carousel col s10" id="DALL-E_example" hidden>
              <p class="carousel-item center"><img src="https://lorempixel.com/250/250/nature/1" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/2" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/3" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/4" alt="Can't load image."></p>
              <p class="carousel-item"><img src="https://lorempixel.com/250/250/nature/5" alt="Can't load image."></p>
              <div class="col s1"></div>
            </div>
          </div>
          <!-- <a class="waves-effect waves-light btn-large" id="action">
            <i class="material-icons left">done_all</i>
            Check
          </a> -->
        </div><!--/fixed-area-->


        <!-- 右可変 -->
        <div class="container active" id="scroll_container" style="padding-top: 5px;">
          <div class="row">
            <div class="col s6">
              <div id="DeepDaze" class="Model_Area">
                <p class="not_select_text center">DeepDaze</p>
              </div>
            </div>
            <div class="col s6">
              <div id="BigSleep" class="Model_Area">
                <p class="not_select_text center">BigSleep</p>
              </div>
            </div>
          </div>
          <br>


          <div class="row center">
            <b>Speed / Quality</b>
            <div class="row">
              <div class="col s3"></div>
              <div class="col s6">
                <form sction="#">
                  <div class="row">
                    <p class="range-field ">
                      <input type="range" min="0" max="100" value="50" style="width: 100%" id="slider">
                    </p>
                  </div>
                </form>
              </div>
              <div class="col s3"></div>
            </div>
          </div>

          <div class="row center">
            <div class="col 2"></div>
            <form  class="col s12">
              <i class="material-icons prefix">mode_edit</i>
              <div class="input-field inline">
                <input id="textarea" class="materialize-textarea cancelEnter" type="search"></input>
                <label for="textarea">Input Text</label>
                </div>
            </form>
            <div class="col 2"></div>
          </div>

          <div class="row">
            <div class="col s4"></div>
            <div class="col s6 left-align">
              <form action="#">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Notification</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input id="indeterminate-checkbox" type="checkbox" />
                    <span>Reduce data traffic</span>
                  </label>
                </p>
              </form>
            </div>
            <div class="col s2"></div>
          </div>

          <div class="center">
            <a class="waves-effect waves-light btn-large" onclick="start()">
              <i class="material-icons left">play_arrow</i>
              Start
            </a>
            <a class="waves-effect waves-light btn-large" onclick="reload_window()">
              <i class="material-icons left">refresh</i>
              Reload
            </a>
          </div>

        </div> <!-- scroll_container -->
      </div> <!-- wrapper -->

      <!-- 通信を開始した際に以下のコンテナを出現させる -->
        <div class="container blue center" id="img_make_container" hidden>
          <div class="card blue-grey">
            <img id="result_img" src="" alt="">
          </div>
        </div>
    </div> <!-- overall -->

    <script>
      $(document).ready(function(){
        $('ul.tabs').tabs({
          swipeable : true,
          responsiveThreshold : 1920
        });
      });

      $(document).ready(function(){
        $('.sidenav').sidenav();
      });

      $(document).ready(function(){
        $('.carousel').carousel();
      });

      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>

    <!-- <script type=text/javascript src="{{ url_for('static', filename='../static/js/functions.js') }}"></script> -->
    <script type=text/javascript src="{{ url_for('static', filename='../static/js/functions.js') }}"></script>
    <!-- <script type="text/javascript" src="function.js"></script> -->

  </body>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCCc-FwJu2Cl1xscyv1sn-I8GqbCWx11TM",
      authDomain: "aicon-681d5.firebaseapp.com",
      projectId: "aicon-681d5",
      storageBucket: "aicon-681d5.appspot.com",
      messagingSenderId: "464075167614",
      appId: "1:464075167614:web:1e10b2e9c50e409434052f",
      measurementId: "G-13W89KFRBN"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
  
</html>