/* フォントの設定 */
@font-face {
	font-family: 'NicoKaku';
	src: url(../font/nicokaku_v1.ttf);
}

#nico_font {
	font-family: NicoKaku;
	cursor: pointer;
}

#sup {
	font-size: large;
}


/* 設定関連 */
.carousel .carousel-item{
	width:100%;
}

input[type="search"] {
	-webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

body {
	user-select: none;
}
/* ヘッダー関係 */
#header {
	min-width: 640px;
}

/* 左関係 */
.gallery {
	height: 50%;
	min-height: 100%;
}

/* 右関係 */
#adjust_top_space {
	height: 5vh;
}

.border_sample{
border-bottom:1px solid #ccc;
}

#param_space {
	min-width: 433px;
}

#model_modal {
	min-width: 315px;
}
/* コンテナの中身の位置を全体的に少し下げる */
#right_container {
	position: relative;
	top: 0;
	height: min-content;
}

/* -----モデル選択ボタン関係----- */
.Model_Area {
	padding: 5px;
	border: solid 1px #ccc;
	width: 95%;
	border-radius: 10px;
	cursor: pointer;
	cursor: hand;
	margin: 0 auto;
}

.Model_Area:hover{
	border: solid 1px;
}

/* -----パラメータ設定選択ボタン関係----- */
.set_param_button {
	padding: 5px;
	border: solid 1px #ccc;
	width: 95%;
	border-radius: 10px;
	cursor: pointer;
	cursor: hand;
	margin: 0 auto;
}

.set_param_button:hover{
	border: solid 1px;
}

/* -----画像サイズ設定選択ボタン関係----- */
.set_size_button {
	padding: 5px;
	border: solid 1px #ccc;
	width: 95%;
	border-radius: 10px;
	cursor: pointer;
	cursor: hand;
	margin: 0 auto;
}

.set_size_button:hover{
	border: solid 1px;
}

/* -----パラメータ設定選択ボタン関係----- */
.backbone_button {
	padding: 5px;
	border: solid 1px #ccc;
	min-width: 88px;
	width: 95%;
	border-radius: 10px;
	cursor: pointer;
	cursor: hand;
	margin: 0 auto;

}

.backbone_button:hover{
	border: solid 1px;
}

/* -----ボタンの背景色を付与----- */
.add_Color {
	box-shadow: 0 1px 10px rgba(52, 162, 212, 0.993), 0 0 50px rgba(128, 128, 128, 0.1) ;
}

/* seedのボタンとテキストの関係 */
.seed_box {
	transform: translateY(30%);
}

/* テキストボックスの高さ */
.materialize-textarea {
	min-height: 46px;
}


/* -----写真のドラッグ＆ドロップ関係 -----*/
.user-icon-dnd-wrapper {
	position: relative;
	width: 100%;
	min-width: 190;
}

#preview_field {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

#target_preview_field {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

#drop_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 3px dashed #888;
	cursor: pointer;
}

#target_drop_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: 3px dashed #888;
	cursor: pointer;
}

.text_position {
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
}

.image_upload_text {
	font-weight: bold;
	font-size: large;
	color: #888;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: 3.2rem;
	text-align: center;
	transform: translate(0%, -35%);
}

#img_delete_button {
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
#target_img_delete_button {
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

#input_file {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	opacity: 0;
}

#input_file:focus {
	opacity: 1;
}

#target_input_file {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	opacity: 0;
}

#target_input_file:focus {
	opacity: 1;
}

/* 開始ボタン、リロードボタン関係 */
#reload, #start_button {
	min-width: 153;
}

.button_interval {
	min-width: 180;
}

/* 出力画像関係 */
/* -----出力画像を可変に----- */
#img_make_container {
	position: relative;
	top: 8%;
	width: 100%;
	min-width: 720px;
	min-height: 97vh;
	text-align: center;
}

#result_img {
	position: static;
	/* top: 10%; */
	padding-top: 10%;
	width: 60%;
	height: auto;
	margin: auto;
	max-width: 450px;
}

/* プログレスバーの設定 */
#progress_bar {
	width: 39%;
	top: 30px;
	min-width: 280px;
}


/* 中止ボタンの設定 */
#quit_button {
	min-width: 153;
	top: 40px;
}

/* -----生成画像保存とトゥイート、アイコン変更ボタン関係----- */
.save_setting_button {
	padding: 5px;
	border: solid 1px #ddd;
	width: 95%;
	min-width: 150px;
	height: 130px;
	border-radius: 10px;
	cursor: pointer;
	cursor: hand;
	margin: 0 auto;
}

.save_setting_button:hover{
	border: solid 1px #ccc;

}

#save_buttons {
	min-height: 90px;
}
#icon {
	padding-top: 4px;
}

#icon, #tweet_icon {
	padding-top: 10px;
	width: 55px;
}

#save_img, #save_mp4 {
	padding-top: 10px;
	font-size: 55px;
	color: #303030;
}

#save_img_text, #save_mp4_text, #change_icon, #tweet_text {
	color: #808080;
	width: auto;
	min-height: 40px;
	padding: 0px;
	line-height: 1em;
}

/* フッターの設定 */
#footer {
	min-height: 65px;
	max-height: 80px;
	min-width: 720px;
}

#footer_position, #footer_position_row {
	max-height: 84px;
}

#copyright_position {
	transform: translateY(100%);
}
.page-footer {
	position:relative;
	width: 100%;
	bottom: 0;
	display: flex;
	flex-flow: column;
}

#communication_partner {
	color: rgb(255, 255, 255);
}

/* 全体構成関係 */
/*左と右を囲う全体のエリア*/
#wrapper {
	position: relative;/*position stickyの基点にするため relativeをかける*/
	display: flex;/*左エリア、右エリア横並び指定*/
	flex-wrap: wrap;/*ボックスの折り返し可*/
}

/*左エリア*/
#fixed-area {
	position: -webkit-sticky;
	position: sticky;
	top:0;
	width: 50%;
	height: 100vh;
}

/*右エリア*/
#scroll_container {
	/*横半分50%にする*/
	width:50%;
	height: auto;
}

/*＝＝＝＝＝＝＝＝＝＝＝800px以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/

@media screen and (max-width:800px) {
	#wrapper {
		display: block;
		min-width: 720px;
	}
	#fixed-area {
		position:relative!important;
		width:100%;
		height: 40vh;
		min-height: 350;
	}
	#scroll_container {
		width:100%;
	}
}


/* -----loading関係------ */
#loader_wrap {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	background: rgba(87, 83, 77, 0.555);
	z-index: 2147483647;
	display: none;
}

#my_position {
	font-size: 128px;
	color: #dd171e;
}

#on{
	color: rgb(40, 151, 207);
}
#waiting_num_display {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top:30%;
}

#other_person {
	font-size: 100px;
	color: #000000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 100vw;
	height: 100vh; */
	top:10%;
}

.loader {
	color: #00b3ff;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 200%;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
